spring:
  application:
    name: chat-demo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/chatdemo
    username: root
    password: 123456
server:
  port: 8081
mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
#spring事务管理日志
logging:
  level:
    org.springframework.jdbc.support.JdbcTransactionManager: debug
    #阿里云OSS
aliyun:
   oss:
        endpoint: https://oss-cn-beijing.aliyuncs.com
        bucketName: java-ai-web-tliastest
        region: cn-beijing